In [1]:
name= "pratham singh"

In [2]:
print (name)

pratham singh

In [3]:
len(name)

13

In [6]:
name="pratham"
i=0
n=len(name)
while i<n:
    print(name[i])
    i+=1

p
r
a
t
h
a
m

In [7]:
d={"name":"pratham", "age": 22, "education":"btech"}

In [10]:
d={"name":"pratham", "age": 22, "education":"btech"}
i=0
n=len(d)
k=list(d.key())
while i<n:
    print(d[k[i]])
    i+=1

AttributeError: 'dict' object has no attribute 'key'

In [11]:
d={"name":"pratham", "age": 22, "education":"btech"}
i=0
n=len(d)
k=list(d.keys())
while i<n:
    print(d[k[i]])
    i+=1

pratham
22
btech

In [12]:
d={"name":"pratham", "age": 22, "education":"btech"}
i=0
n=len(d)
k=list(d.keys())
while i<n:
    key=k[i]
    print(d[key])
    i+=1

pratham
22
btech

In [13]:
l=[7,1,4,2,5,9,8,3]

In [14]:
l

[7, 1, 4, 2, 5, 9, 8, 3]

In [15]:
len(l)

8

In [25]:
#find the maximum number from the given list
i=0
n=len(l)
a=0
while i < n :
    if l[i]>l[a]:
        a=i
    i+=1
print(a,l[a])

5 9

In [24]:
#find the minimium number from the given list
i=0
n=len(l)
a=0
while i < n :
    if l[i]<l[a]:
        a=i
    i+=1
print(a,l[a])

1 1

In [32]:
#find the sum of number from the given list
i=0
n=len(l)
sum=0
while i < n :
    sum+=l[i]

    i+=1
print(i,sum)

8 39

In [31]:
i=0
n=len(l)
sum =0
while i<n:
    sum+=l[i]
    print(l[i], sum)
    i+=1
print(sum)

7 7
1 8
4 12
2 14
5 19
9 28
8 36
3 39
39

In [33]:
l=[2,44,5,32,65,4,78,96,50,47]

In [34]:
l.sort()

In [35]:
print(l)

[2, 4, 5, 32, 44, 47, 50, 65, 78, 96]

In [37]:
l[len(l)//2]

47

In [39]:
#find the middle one number from list
l=[2,44,5,32,65,4,78,96,50,47]
l.sort()
print(l)
l[len(l)//2]

[2, 4, 5, 32, 44, 47, 50, 65, 78, 96]

47

In [40]:
# homework:
# To find the first largest and second largest number

In [44]:
n=29
prime= True
i=2
while i<n:
    if n%i==0:
        prime=False
        break
    i+=1
if prime:
    print(f"{n} is a prime number")
else:
    print(f"{n} is not prime number")

29 is a prime number

In [45]:
l=[1,4,2,5,9,6,7]

In [46]:
len(l)

7

In [48]:
print(l)

[1, 4, 2, 5, 9, 6, 7]

In [49]:
d={"name":"pratham singh","age":21,"education":"btech"}

In [50]:
print(d)

{'name': 'pratham singh', 'age': 21, 'education': 'btech'}

In [51]:
d.keys()

dict_keys(['name', 'age', 'education'])

In [53]:
d.values()

dict_values(['pratham singh', 21, 'btech'])

In [55]:
k=list(d)

In [56]:
print(k)

['name', 'age', 'education']

In [54]:
#TO FIND THE DICTIONARY VAKUE AS AN OUTPUT

i=0
n=len(d)
k=list(d)

In [73]:
i=1
n=24
l=[]
while i<=n:
    
    if n%i==0:
        print(n , "%", i,"=", n / i)
        l.append(i)
    i+=1
        
        
        
   

print(l)

24 % 1 = 24.0
24 % 2 = 12.0
24 % 3 = 8.0
24 % 4 = 6.0
24 % 6 = 4.0
24 % 8 = 3.0
24 % 12 = 2.0
24 % 24 = 1.0
[1, 2, 3, 4, 6, 8, 12, 24]

In [91]:
a=[2,5,6,9,4,3,7,10,8]
l=a[0]
s=a[0]
i=0
n=len(a)
while i<n:
    #print(a, a[i], l)
    if a[i]>l:
        s=l
        l=a[i]
    elif a[i]>s:
        s=a[i]
    i+=1
    print(l,s)

2 2
5 2
6 5
9 6
9 6
9 6
9 7
10 9
10 9

In [79]:
a=[2,5,6,9,4,3,7,10,8]
l=a[0]
s=a[0]
i=0
n=len(a)
while i<n:
    if a[i]>l:
        s=l
        l=a[i]
    elif a[i]>s:
        s=a[i]
    i+=1
    print(l,s)

SyntaxError: invalid non-printable character U+00A0 (576265594.py, line 13)

In [82]:
i=0
n=3
while i<n:
    j=0
    m=3
    while j<m:
        print(j, end="")
        j+=1
    print()
    i+=1

012
012
012